@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

.explanation-container{
    width: 500px;
}
.tulang-container{
    position: relative;

    width: 500px;
    height: 500px;
    /* background-image: url('/assets/tb_tengkorak.svg'); */
    background-size: contain;
    background-color: black;
}

.layout{
    width: 500px;
    height: 500px;
    opacity: 0.3;
    background-color: black;
}


/* experiment */
.skull-svg-container{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
}

#parietal-path:hover{
    opacity: 0.3;
    background-color: black;
}

#zygomatic-path:hover{
    opacity: 0.0;
}

#frontal-path:hover{
    opacity: 0.1;
}

#occipital-path:hover{
    opacity: 0.3;
}

#mandibula-path:hover{
    opacity: 0.3;
}

#maxilla-path:hover{
    opacity: 0.3;
}

#lacrimal-path:hover{
    opacity: 0.3;
}

#sphenoid-path-2:hover{
    opacity: 0.3;
}

#nasal-path:hover{
    opacity: 0.3;
}

#gigi-path:hover{
    opacity: 0.3;
    transform: translate(300px, 100px);
}
/* end of experiment */

/* ini mata */
.lacrimal{
    position: absolute;
    top: 248px;
    left: 62px;

    width: 52px;
    height: 58px;

    background-image: url('/assets/lacrimal.svg');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 1;
}

/* ini dahi */
.frontal{
    position: absolute;
    top: 18px;
    left: 40px;

    width: 184px;
    height: 254px;

    background-image: url('/assets/frontal.svg');
    background-size: contain;
    background-repeat: no-repeat;

    /* background-color: aliceblue; */
}

/* ini tulang pipi */
.zygomatic{
    position: absolute;

    top: 220px;
    left: 70px;

    width: 130px;
    height: 140px;

    /* opacity: 0.1; */
    background-image: url('/assets/zygomatic.svg');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 3;
}

/* Rahang depan */
.maxilla{
    position: absolute;

    top: 245px;
    left: 30px;

    width: 130px;
    height: 150px;

    /* opacity: 0.3; */
    background-image: url('/assets/maxilla.svg');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 2;
}

.temporal{
    position: absolute;

    top: 175px;
    left: 114px;

    width: 260px;
    height: 200px;
    
    z-index: 10;
}

.occipital{
    position: absolute;

    top: 165px;
    left: 237px;

    width: 268px;
    height: 200px;
    
    z-index: 10;
}



.gigi{
    position: absolute;

    top: 368px;
    left: 32px;

    width: 110px;
    height: 110px;

    /* opacity: 0.3; */
    background-image: url('/assets/gigi.svg');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 1;
}

.parietal{
    position: absolute;

    top: 8px;
    left: 134px;

    width: 350px;
    height: 350px;

    /* opacity: 0.3; */
    background-image: url('/assets/parietal.svg');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 4;
}

.mandibula{
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 49px;
    width: 185px;
    height: 500px;

    background-image: url('/assets/mandibula.svg');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 4;
}

.nasal{
    position: absolute;
    z-index: 5;
    top: 251px;
    left: 15px;
    width: 35px;
    height: 500px;

    background-image: url('/assets/nasal.svg');
    background-size: contain;
    background-repeat: no-repeat;

}